// Creates a wrapper for a series of grid
@mixin make-row($margin: $grid-margin-width) {
    margin-left: ceil(($margin / -2));
    margin-right: floor(($margin / -2));
    position: relative;
    &:after,
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.grid-row{
    @include make-row;
}
